# .gitignore
#
# Specifies intentionally untracked files to ignore.
#
# - docs/_build/: Sphinx documentation build output
# - **/__pycache__/: Python bytecode cache directories
# - build/: Application build output
# - dist/: Distribution packages

# **/.vscode/
**/__pycache__/
docs/_build/
build/
dist/
.venv/